*~
Makefile
config.h
config.log
config.status
in_data_files/CMTSOLUTION
in_data_files/Par_file
in_data_files/STATIONS
src/check_mesh_quality_CUBIT_Abaqus/Makefile
src/decompose_mesh_SCOTCH/Makefile
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/Makefile.inc
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/Makefile.org
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotchmetis/Makefile.org
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/Makefile.org
src/generate_databases/Makefile
src/meshfem3D/Makefile
src/meshfem3D/constants.h
src/meshfem3D/precision.h
src/shared/constants.h
src/shared/precision.h
src/specfem3D/Makefile
bin/
lib/
obj/
src/decompose_mesh_SCOTCH/decompose_mesh_scotch.mod
src/decompose_mesh_SCOTCH/part_decompose_mesh_scotch.mod
src/decompose_mesh_SCOTCH/scotch_5.1.11/bin/
src/decompose_mesh_SCOTCH/scotch_5.1.11/include/
src/decompose_mesh_SCOTCH/scotch_5.1.11/lib/
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/arch.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/arch_build.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/arch_cmplt.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/arch_cmpltw.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/arch_deco.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/arch_hcub.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/arch_mesh.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/arch_tleaf.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/arch_torus.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/arch_vcmplt.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/arch_vhcub.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/bgraph.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/bgraph_bipart_bd.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/bgraph_bipart_df.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/bgraph_bipart_ex.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/bgraph_bipart_fm.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/bgraph_bipart_gg.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/bgraph_bipart_gp.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/bgraph_bipart_ml.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/bgraph_bipart_st.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/bgraph_bipart_zr.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/bgraph_check.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/bgraph_store.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/common.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/common_file.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/common_file_compress.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/common_file_uncompress.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/common_integer.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/common_memory.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/common_string.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/common_stub.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/dummysizes
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/gain.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/geom.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/graph.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/graph_base.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/graph_check.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/graph_coarsen.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/graph_induce.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/graph_io.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/graph_io_chac.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/graph_io_habo.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/graph_io_mmkt.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/graph_io_scot.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/graph_list.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hall_order_hd.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hall_order_hf.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hall_order_hx.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hgraph.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hgraph_check.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hgraph_induce.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hgraph_order_bl.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hgraph_order_cp.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hgraph_order_gp.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hgraph_order_hd.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hgraph_order_hf.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hgraph_order_hx.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hgraph_order_nd.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hgraph_order_si.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hgraph_order_st.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hmesh.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hmesh_check.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hmesh_hgraph.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hmesh_induce.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hmesh_mesh.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hmesh_order_bl.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hmesh_order_cp.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hmesh_order_gp.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hmesh_order_gr.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hmesh_order_hd.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hmesh_order_hf.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hmesh_order_hx.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hmesh_order_nd.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hmesh_order_si.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/hmesh_order_st.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/kgraph.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/kgraph_check.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/kgraph_map_ml.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/kgraph_map_rb.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/kgraph_map_rb_map.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/kgraph_map_rb_part.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/kgraph_map_st.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_arch.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_arch_build.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_arch_build_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_arch_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_error.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_error_exit.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_geom.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_geom_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_graph.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_graph_base.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_graph_base_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_graph_check.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_graph_check_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_graph_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_graph_io_chac.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_graph_io_chac_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_graph_io_habo.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_graph_io_habo_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_graph_io_mmkt.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_graph_io_mmkt_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_graph_io_scot.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_graph_io_scot_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_graph_map.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_graph_map_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_graph_map_view.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_graph_map_view_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_graph_order.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_graph_order_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_mapping.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_mesh.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_mesh_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_mesh_graph.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_mesh_graph_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_mesh_io_habo.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_mesh_io_habo_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_mesh_io_scot.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_mesh_io_scot_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_mesh_order.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_mesh_order_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_order.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_parser.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_parser_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_random.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_random_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_strat.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_version.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/library_version_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/libscotch.a
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/libscotcherr.a
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/libscotcherrexit.a
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/mapping.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/mapping_io.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/mesh.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/mesh_check.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/mesh_coarsen.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/mesh_graph.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/mesh_induce_sepa.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/mesh_io.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/mesh_io_habo.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/mesh_io_scot.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/order.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/order_check.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/order_io.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/parser.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/parser_ll.c
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/parser_ll.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/parser_ly.h
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/parser_yy.c
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/parser_yy.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/scotch.h
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/scotchf.h
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/vgraph.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/vgraph_check.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/vgraph_separate_bd.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/vgraph_separate_es.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/vgraph_separate_fm.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/vgraph_separate_gg.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/vgraph_separate_gp.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/vgraph_separate_ml.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/vgraph_separate_st.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/vgraph_separate_th.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/vgraph_separate_vw.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/vgraph_separate_zr.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/vgraph_store.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/vmesh.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/vmesh_check.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/vmesh_separate_fm.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/vmesh_separate_gg.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/vmesh_separate_gr.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/vmesh_separate_ml.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/vmesh_separate_st.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/vmesh_separate_zr.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/vmesh_store.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/y.output
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotchmetis/libscotchmetis.a
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotchmetis/metis_graph_order.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotchmetis/metis_graph_order_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotchmetis/metis_graph_part.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotchmetis/metis_graph_part_f.o
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/acpl
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/amk_ccc
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/amk_fft2
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/amk_grf
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/amk_hy
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/amk_m2
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/amk_p2
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/atst
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/gbase
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/gcv
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/gmap
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/gmk_hy
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/gmk_m2
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/gmk_m3
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/gmk_msh
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/gmk_ub2
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/gmtst
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/gord
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/gotst
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/gout
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/gpart
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/gscat
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/gtst
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/mcv
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/mmk_m2
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/mmk_m3
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/mord
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/mtst
src/generate_databases/create_regions_mesh_ext_par.mod
src/generate_databases/external_model.mod
src/generate_databases/generate_databases_par.mod
src/generate_databases/tomography.mod
src/meshfem3D/createregmesh.mod
src/meshfem3D/readparfile.mod
src/specfem3D/constants.mod
src/specfem3D/image_pnm_gif_par.mod
src/specfem3D/pml_par.mod
src/specfem3D/pml_par_acoustic.mod
src/specfem3D/specfem_par.mod
src/specfem3D/specfem_par_acoustic.mod
src/specfem3D/specfem_par_elastic.mod
src/specfem3D/specfem_par_movie.mod
src/specfem3D/specfem_par_poroelastic.mod
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/libscotch/Makefile
src/decompose_mesh_SCOTCH/scotch_5.1.11/src/scotch/Makefile

